[FORMAT]
indent-string='  '
indent-after-paren=2
max-line-length=121

[MESSAGES CONTROL]
disable=missing-docstring,
        wildcard-import,
        unused-wildcard-import,
        bad-continuation,

[SIMILARITIES]
min-similarity-lines=15

[DESIGN]
max-args=6
max-attributes=8
min-public-methods=1
