[[source]]
url = 'https://pypi.python.org/simple'

[requires]
python_version = '3.8'

[packages]
pyyaml = '*'

[dev-packages]
mock = '*'
pylint = '*'
pytest = '*'
rope = '*'
yapf = '*'
mypy = '*'
wasmer = '< 0.4.0'  # Note: wasmer==0.4.1 fails on Python 3.5 with 'no matching distribution found'
syrupy = "<0.4,>=0.3.9"
